
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');

html, body {
    overflow: hidden;
}

h1{
    font-size: 2.5rem;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
    color:black;
    background-color:bisque;
    text-align:center;
    margin-top: 0;
    margin-bottom: 0;
    
}
#informatique{
    font-size: 2.5rem;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
    color:black;
    background-color:bisque;
    text-align:center;
    margin-top: 2.5em;
    margin-bottom: 1em;

}


body{
    background-image: url("Images/fond.jpg");
    background-color: lightblue;
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
    color:black;
    background-color:bisque;
    text-align:center; 
    margin-bottom: 1em;
}

nav{
    padding: 1em;
    text-align: center;   
}

a{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 10%;
    padding-right:10%;
    padding-bottom: 1em;
    padding-top: 1em;
    color:whitesmoke;
}

a:hover{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.7);
    color:whitesmoke;
    
}


.test{
    background-color: rgba(255, 228, 196, 0.5);
    color:black; 
    display: inline-block;
    width: 100%;
    margin-bottom: 2.5em;
    font-size: 1.2em;
    font-weight: 300;
}


.lang{
    text-align: center;
    background-color: rgba(255, 0, 0, 0.5);
    padding-left: 1%;
    padding-right:1%;
    padding-bottom: 1em;
    padding-top: 1em;
    color:whitesmoke;
}


#profil{
    float: left;
    width:15%;
    height:20%;
}
.lang:hover{
    background-color: rgba(255, 0, 0, 0.7);
}

#main{
    overflow-y:scroll;
    overflow-x:hidden;
    height : 100vh;
}

.photo{
    width: 33%;
    height: 30%;
    margin-top: 2.5em;
}
#photo{
    flex-basis: linear;
}